/* Error: Can't find stylesheet to import.
 *   ,
 * 5 | @import "bootstrap/scss/functions";
 *   |         ^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   ux-rebuild/web/assets/scss/_theme.scss 5:9  @import
 *   ux-rebuild/web/assets/scss/main.scss 8:9    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 5 \2502  @import \"bootstrap/scss/functions\";\a   \2502          ^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   ux-rebuild/web/assets/scss/_theme.scss 5:9  @import\a   ux-rebuild/web/assets/scss/main.scss 8:9    root stylesheet";
}
